<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.smsforwarder">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS"/>

    <application
        android:name=".SMSForwarder"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">

        <activity
            android:name=".view.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.SMSSender"
            android:permission="android.permission.BIND_JOB_SERVICE" />

<!--        <receiver-->
<!--            android:name=".receiver.SMSReceiver"-->
<!--            android:permission="android.permission.BROADCAST_SMS"-->
<!--            android:enabled="true"-->
<!--            android:exported="true">-->

<!--            <intent-filter>-->
<!--                <action android:name="android.provider.Telephony.SMS_RECEIVED" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->

    </application>

</manifest>